{#
/**
 * @file
 * Application review mail.
 *
 * @ingroup themeable
 */
#}
<html>
  <body>
    {{ title }} {{ "a candidate for"|t }} {{ location }} {{ "has submitted an application in the portal."|t }}<br/>
    {{ 'Please visit'|t }} {{ link }} {{ 'to review this application'|t }}
  </body>
</html>
